<h1>Contact</h1>

<h4>Application Name : Sports Client Application</h4></br>
<h4>Application Language : Ruby on Rails</h4></br>
<h4>RESTful Webservice Language : Java with Jersey (Maven)</h4></br>
<h4>Developer : Deep Roychoudhury</h4></br>
<h4>College : National College of Ireland</h4></br>
<h4>Mail Me at : x19109130@student.ncirl.ie</h4>



